In [1]:
import pandas as pd
import numpy as np

In [2]:
data_path='/Users/haixiangliu/Documents/水质数据及代码模型/water_clean_data.csv'

In [3]:
df = pd.DataFrame(pd.read_csv(data_path))

In [4]:
df=df.rename(columns={'时间日期':'datetime', '液位':'water_level', 'DO':'do', 'MISS':'miss', '进风流量':'input_wind_throughput', '进气阀开度':'input_wind_openness', 'ts':'ts','进水COD':'input_water_cod', '出水COD':'output_water_cod', '进水氨氮':'input_water_ammonia', '出水总氮':'output_water_ammonia', '进水PH值':'input_water_ph','出水总磷':'output_water_phosphorus','进水SS':'input_water_ss','出水SS':'output_water_ss'})

In [5]:
#描述
df.describe()

,water_level,do,miss,input_wind_throughput,input_wind_openness,ts,input_water_cod,output_water_cod,input_water_ammonia,output_water_ammonia,input_water_ph,output_water_phosphorus,input_water_ss,output_water_ss
count,34024.000000,34024.000000,34024.000000,34035.000000,34035.000000,3.403500e+04,34035.000000,34035.000000,34035.000000,34035.000000,34035.000000,34035.000000,34035.000000,34035.000000
mean,5.229836,0.636292,3516.282242,1796.653739,46.740620,1.402362e+09,267.427530,16.015131,34.131039,-6.738416,7.077556,-0.293184,374.066843,5.139180
std,0.457183,1.151433,3227.756050,2296.794793,49.835435,5.854110e+07,146.413104,5.670968,10.554799,7.072431,2.503650,0.281792,678.153800,2.200128
min,-1.750000,-3.800000,-1875.000000,-13.000000,-19.000000,1.278745e+09,2.000000,1.000000,-22.500000,-258.000000,-2.630000,-0.380000,-375.000000,-19.000000
25%,5.020000,0.100000,94.000000,0.000000,0.000000,1.356034e+09,190.000000,13.000000,28.900000,-9.000000,7.220000,-0.380000,-375.000000,4.000000
50%,5.480000,0.300000,3404.500000,0.000000,0.000000,1.418692e+09,235.000000,16.000000,34.300000,-9.000000,7.450000,-0.380000,331.000000,5.000000
75%,5.500000,0.600000,6105.000000,4250.000000,100.000000,1.451900e+09,303.000000,18.000000,39.800000,-9.000000,7.770000,-0.380000,835.000000,6.000000
max,6.050000,18.500000,10055.000000,8464.000000,100.000000,1.484806e+09,2007.000000,116.000000,121.200000,58.000000,14.050000,2.310000,2027.000000,100.000000

In [6]:
#针对每一列进行统计
def data_profiling(column):
    #不重复的值
    distinct_count=df[column].unique().size
    #唯一值概率
    unique=distinct_count/df[column].size*100
    unique=np.round(unique,2)
    #最大值
    maxnum=df[column].max()
    #最小值
    minnum=df[column].min()
    #均值
    mean=df[column].mean()
    mean = np.round(mean,4)
    #缺失值
    miss=df[column].size-df[column].count()
    miss1=np.round(miss/df[column].size,2)
    #判断是否有无穷值
    infnum=0
    for d in np.isinf(df[column]).iteritems():
        if d==True :
            infnum=infnum+1
    infnum1=np.round(infnum/df[column].size,2)
    print('\n\n'+column.upper()+' : '+'\n')
    print('Distinct count : '+str(distinct_count) +'\t\t'+'Missing(%) : '+str(miss1)+'%'+'\n'+'Unique(%) : '+str(unique)+'%'+'\t\t'+'Missing(n) : '+str(miss)+'\n'+'Infinite (%) : '+str(infnum1)+'%'+'\t\t'+'Mean : '+str(mean)+'\n'+'Infinite (n) : '+str(infnum)+'\n'+'Maxnum : '+str(maxnum)+'\n'+'Minnum : '+str(minnum))
   #图覆盖？----for循环中的图只输出最后一个
    return df[column].hist().set_title(column)

In [7]:
#针对整个DataFrame进行调用
def fun(df):
        for  column in df:
            if column !='datetime':
                data_profiling(column)
            else:
                print(column)

In [8]:
fun(df)

datetime


WATER_LEVEL :

Distinct count : 284		Missing(%) : 0.0%
Unique(%) : 0.83%		Missing(n) : 11
Infinite (%) : 0.0%		Mean : 5.2298
Infinite (n) : 0
Maxnum : 6.05
Minnum : -1.75


DO :

Distinct count : 138		Missing(%) : 0.0%
Unique(%) : 0.41%		Missing(n) : 11
Infinite (%) : 0.0%		Mean : 0.6363
Infinite (n) : 0
Maxnum : 18.5
Minnum : -3.8


MISS :

Distinct count : 8697		Missing(%) : 0.0%
Unique(%) : 25.55%		Missing(n) : 11
Infinite (%) : 0.0%		Mean : 3516.2822
Infinite (n) : 0
Maxnum : 10055.0
Minnum : -1875.0


INPUT_WIND_THROUGHPUT :

Distinct count : 3813		Missing(%) : 0.0%
Unique(%) : 11.2%		Missing(n) : 0
Infinite (%) : 0.0%		Mean : 1796.6537
Infinite (n) : 0
Maxnum : 8464
Minnum : -13


INPUT_WIND_OPENNESS :

Distinct count : 66		Missing(%) : 0.0%
Unique(%) : 0.19%		Missing(n) : 0
Infinite (%) : 0.0%		Mean : 46.7406
Infinite (n) : 0
Maxnum : 100
Minnum : -19


TS :

Distinct count : 34035		Missing(%) : 0.0%
Unique(%) : 100.0%		Missing(n) : 0
Infinite (%) : 0.0%		Mean : 1402361837.5424
Infinite (n) : 0
Maxnum : 1484805600.0
Minnum : 1278745200.0


INPUT_WATER_COD :

Distinct count : 935		Missing(%) : 0.0%
Unique(%) : 2.75%		Missing(n) : 0
Infinite (%) : 0.0%		Mean : 267.4275
Infinite (n) : 0
Maxnum : 2007
Minnum : 2


OUTPUT_WATER_COD :

Distinct count : 87		Missing(%) : 0.0%
Unique(%) : 0.26%		Missing(n) : 0
Infinite (%) : 0.0%		Mean : 16.0151
Infinite (n) : 0
Maxnum : 116
Minnum : 1


INPUT_WATER_AMMONIA :

Distinct count : 1418		Missing(%) : 0.0%
Unique(%) : 4.17%		Missing(n) : 0
Infinite (%) : 0.0%		Mean : 34.131
Infinite (n) : 0
Maxnum : 121.2
Minnum : -22.5


OUTPUT_WATER_AMMONIA :

Distinct count : 57		Missing(%) : 0.0%
Unique(%) : 0.17%		Missing(n) : 0
Infinite (%) : 0.0%		Mean : -6.7384
Infinite (n) : 0
Maxnum : 58
Minnum : -258


INPUT_WATER_PH :

Distinct count : 668		Missing(%) : 0.0%
Unique(%) : 1.96%		Missing(n) : 0
Infinite (%) : 0.0%		Mean : 7.0776
Infinite (n) : 0
Maxnum : 14.05
Minnum : -2.63


OUTPUT_WATER_PHOSPHORUS :

Distinct count : 196		Missing(%) : 0.0%
Unique(%) : 0.58%		Missing(n) : 0
Infinite (%) : 0.0%		Mean : -0.2932
Infinite (n) : 0
Maxnum : 2.31
Minnum : -0.38


INPUT_WATER_SS :

Distinct count : 1738		Missing(%) : 0.0%
Unique(%) : 5.11%		Missing(n) : 0
Infinite (%) : 0.0%		Mean : 374.0668
Infinite (n) : 0
Maxnum : 2027
Minnum : -375


OUTPUT_WATER_SS :

Distinct count : 41		Missing(%) : 0.0%
Unique(%) : 0.12%		Missing(n) : 0
Infinite (%) : 0.0%		Mean : 5.1392
Infinite (n) : 0
Maxnum : 100
Minnum : -19

### 数据清洗

In [9]:
df[['input_wind_throughput','input_wind_openness','input_water_cod','output_water_cod','output_water_ammonia','input_water_ss','output_water_ss']]=df[['input_wind_throughput','input_wind_openness','input_water_cod','output_water_cod','output_water_ammonia','input_water_ss','output_water_ss']].astype(float)

In [10]:
#添加一列label作为output_water_cod列的标签
index_array=[]
for d in df['output_water_cod']:
    if d>=50:
        index_array.append(1)
    else:
        index_array.append(0)
df['label']=pd.DataFrame(index_array)

In [11]:
df.head()

,datetime,water_level,do,miss,input_wind_throughput,input_wind_openness,ts,input_water_cod,output_water_cod,input_water_ammonia,output_water_ammonia,input_water_ph,output_water_phosphorus,input_water_ss,output_water_ss,label
0,2010-07-10 16:00:00,5.52,2.3,137.0,0.0,0.0,1.278745e+09,214.0,24.0,5.0,7.0,6.0,0.0,1192.0,8.0,0
1,2010-07-10 18:00:00,4.45,1.9,142.0,0.0,0.0,1.278752e+09,292.0,22.0,4.0,6.0,6.0,0.0,419.0,6.0,0
2,2010-07-10 20:00:00,4.46,1.4,117.0,0.0,0.0,1.278760e+09,269.0,22.0,4.0,6.0,6.0,0.0,437.0,6.0,0
3,2010-07-10 22:00:00,5.23,3.8,1463.0,5786.0,100.0,1.278767e+09,242.0,24.0,6.0,7.0,6.0,0.0,254.0,8.0,0
4,2010-07-11 04:00:00,5.00,3.3,1490.0,5881.0,100.0,1.278788e+09,324.0,24.0,20.0,7.0,6.0,0.0,176.0,9.0,0

### Time

In [12]:
#提取年、月、周/年、小时形成新列，并修改数据类型
df['year']=pd.to_datetime(df['datetime']).dt.year
df['month']=pd.to_datetime(df['datetime']).dt.month
df['weekofyear']=pd.to_datetime(df['datetime']).dt.weekofyear
df['hour']=pd.to_datetime(df['datetime']).dt.hour
df[['year','month','weekofyear','hour']] = df[['year','month','weekofyear','hour']].astype('float')

In [13]:
df.head()

,datetime,water_level,do,miss,input_wind_throughput,input_wind_openness,ts,input_water_cod,output_water_cod,input_water_ammonia,output_water_ammonia,input_water_ph,output_water_phosphorus,input_water_ss,output_water_ss,label,year,month,weekofyear,hour
0,2010-07-10 16:00:00,5.52,2.3,137.0,0.0,0.0,1.278745e+09,214.0,24.0,5.0,7.0,6.0,0.0,1192.0,8.0,0,2010.0,7.0,27.0,16.0
1,2010-07-10 18:00:00,4.45,1.9,142.0,0.0,0.0,1.278752e+09,292.0,22.0,4.0,6.0,6.0,0.0,419.0,6.0,0,2010.0,7.0,27.0,18.0
2,2010-07-10 20:00:00,4.46,1.4,117.0,0.0,0.0,1.278760e+09,269.0,22.0,4.0,6.0,6.0,0.0,437.0,6.0,0,2010.0,7.0,27.0,20.0
3,2010-07-10 22:00:00,5.23,3.8,1463.0,5786.0,100.0,1.278767e+09,242.0,24.0,6.0,7.0,6.0,0.0,254.0,8.0,0,2010.0,7.0,27.0,22.0
4,2010-07-11 04:00:00,5.00,3.3,1490.0,5881.0,100.0,1.278788e+09,324.0,24.0,20.0,7.0,6.0,0.0,176.0,9.0,0,2010.0,7.0,27.0,4.0

### Window

In [23]:
rolling_features_input_cols = ['do', 'miss', 'input_wind_throughput', 'input_wind_openness',
                    'input_water_cod', 'output_water_cod', 'input_water_ammonia', 
                    'output_water_ammonia', 'input_water_ph', 'output_water_phosphorus', 
                    'input_water_ss', 'output_water_ss']

In [14]:
#按标签进行分组统计
df.groupby('label').count()

,datetime,water_level,do,miss,input_wind_throughput,input_wind_openness,ts,input_water_cod,output_water_cod,input_water_ammonia,output_water_ammonia,input_water_ph,output_water_phosphorus,input_water_ss,output_water_ss,year,month,weekofyear,hour
label,,,,,,,,,,,,,,,,,,,
0,33956,33945,33945,33945,33956,33956,33956,33956,33956,33956,33956,33956,33956,33956,33956,33956,33956,33956,33956
1,79,79,79,79,79,79,79,79,79,79,79,79,79,79,79,79,79,79,79